body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.header {
    margin: 0;
    padding: 10px 20px 20px 20px;
    width: calc(100% - 40px);
    height: 40px;
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d2d2c9;
}

.header__title {
    margin: 0;
}

.header-in-text {
    margin-top: 10px;
    color: #6d031c;
}

.main {
    padding: 70px 50px 30px 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-side {
    position: fixed;
    padding: 20px 30px;
    box-sizing: border-box;
    max-width: 200px;
    width: 100%;
    height: 200px;

    font-size: 20px;
    text-decoration: none;
}

.navigation-bar__element_link, .footer__copyright {
    text-decoration: none;
}

.navigation-bar__element {
    margin-bottom: 10px;
}

.navigation-bar__element_link:hover {
    border-bottom: #1b1210;
}

.navigation-bar__element_link {
    color: #6d031c;
    font-weight: bold;
    font-size: 24px;
}

.left-side__navigation {
    display: block;
    margin: 0;
}

.navigation-bar {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-content {
    padding: 20px 0 0 236px;
    font-style: normal;
    font-weight: 200;
    width: calc(100% - 236px);
}

.main__header {
    margin: 0;
    color: #6d031c;
    font-size: 24px;
}

.main-content__text {
    margin: 0 0 30px 0;
}

.start-page__text {
    font-size: 18px;
}

.main-content__image-content_image {
    width: 300px;
    height: 300px;
}

#chess-board {
    width: 565px;
    height: 565px;
}

.game-content {
    display: flex;
    flex-direction: row;
}

.checker {
    margin-bottom: -5px;
}

.checker:hover {
    cursor: pointer;
}

.active-checker {
    background-color: #ffaa00;
}

.possible-cell {
    background-color: seagreen;
}

.kill-cell {
    background-color: #6d031c;
}

.possible-cell:hover, .kill-cell:hover {
    cursor: pointer;
}

.main-content__right-side {
    padding-left: 20px;
    width: 100%;
}

.right-side__turn-order-header {
    margin-left: 60px;
}

.right-side__turn-order {
    margin: auto;
    padding: 0;
    height: 30px;
    display: flex;
    flex-direction: row;
    border: #1b1210 solid 2px;
    width: 300px;
}

.turn-order__item {
    list-style: none;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.turn-order__item:first-child {
    border-right: #1b1210 solid 2px;
}

.turn-order__item_active {
    background-color: #6d031c;
    color: #ffffff;
}

.right-side__moves-record-field {
    margin: auto;
    width: 50%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.moves-record-field {
    width: 50%;
}

.right-side__moves-record-field {
    height: 400px;
}

.right-side__buttons-block, .right-side__move-buttons-block {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.right-side__move-buttons-block {
    opacity: 0;
    cursor: none;
}

.buttons-block__button, .move-buttons-block__button {
    margin-right: 40px;
    width: 150px;
    height: 40px;
    border: none;

    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.move-buttons-block__button {
    background: #ffffff;
    color: #000000;
    border: #6d031c solid 2px;
}

.buttons-block__button {
    background: #6d031c;
    color: #ffffff;
}

.buttons-block__button:hover {
    cursor: pointer;
}

.right-side__move-buttons-block_active {
    opacity: 1;
}

.move-buttons-block__button_active {
    cursor: pointer;
}

.buttons-block__button:last-child, .move-buttons-block__button:last-child {
    margin-right: 0;
}

.footer {
    padding: 20px 50px;
    width: calc(100% - 100px);
    border-top: #d2d2c9 3px solid;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__copyright {
    display: inline;
    margin: 0;
}

.email-link {
    color: #6d031c;
}

.black {
    min-width: 65px;
    max-height: 65px;
    background-color: #000000;
}

.white {
    min-width: 65px;
    max-height: 65px;
    background-color: #ffffff;
}

@media screen and (max-width: 1000px) {
    .game-content {
        flex-direction: column;
    }

    .right-side__buttons-block {
        margin-top: 0;
    }

    .main-content__right-side {
        padding: 0;
    }

    #chess-board {
        margin-bottom: 70px;
    }
}
