body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.header {
    margin: 0;
    padding: 10px 20px 20px 20px;
    width: calc(100% - 40px);
    height: 40px;
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d2d2c9;
}

.header__title {
    margin: 0;
}

.header-in-text {
    margin-top: 10px;
    color: #6d031c;
}

.main {
    padding: 70px 50px 30px 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-side {
    position: fixed;
    padding: 20px 30px;
    box-sizing: border-box;
    max-width: 236px;
    width: 100%;
    height: 200px;

    font-size: 20px;
    text-decoration: none;
}

.navigation-bar__element_link, .footer__copyright {
    text-decoration: none;
}

.navigation-bar__element {
    margin-bottom: 10px;
}

.navigation-bar__element_link:hover {
    border-bottom: #1b1210;
}

.navigation-bar__element_link {
    color: #6d031c;
    font-weight: bold;
    font-size: 24px;
}

.left-side__navigation {
    display: block;
    margin: 0;
}

.navigation-bar {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-content {
    padding: 20px 0 0 236px;
    font-style: normal;
    font-weight: 200;
}

.main__header {
    margin: 0;
    color: #6d031c;
    font-size: 24px;
}

.main-content__text {
    margin: 0 0 30px 0;
}

.start-page__text {
    font-size: 18px;
}

.main-content__image-content_image {
    width: 300px;
    height: 300px;
}

.footer {
    padding: 20px 50px;
    width: calc(100% - 100px);
    border-top: #d2d2c9 3px solid;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__copyright {
    display: inline;
    margin: 0;

}

.email-link {
    color: #6d031c;
}
